:root {
  --color-white: #ffffff;
  --color-gray: #e5e5e5;
  --color-silver: #eaf0fa;
  --color-text: #122945;
  --color-text2: #5e7793;

  --font-family-regular: "SF Pro Display Regular";
  --font-family-medium: "SF Pro Display Medium";
  --border-color: var(--color-silver);
  --color-text-primary: var(--color-text);
  --color-text-secondary: var(--color-text2);

  --bg-page: var(--color-gray);
  --bg-table: var(--color-white);
}
