:root {
  --color-white: #ffffff;
  --color-gray: #e5e5e5;
  --color-silver: #eaf0fa;

  --font-family-regular: "SF Pro Display Regular";
  --font-family-medium: "SF Pro Display Medium";
  --border-color: var(--color-silver);

  --bg-page: var(--color-gray);
  --bg-table: var(--color-white);
}
