.wrapper-table {
  // padding-left: 40px;

  max-width: 1440px;

  border-radius: 8px;

  height: calc(100vh - 124px);
  overflow: auto;
}

.table {
  margin: 0;
  border-radius: 8px;
  // table-layout: fixed;
  background-color: var(--bg-table);
  border-collapse: collapse;

  & th {
    color: var(--color-text-secondary);

    font-size: 14px;
    line-height: 1;

    padding: 46px 0 20px;

    text-align: left;
  }

  & th:last-child,
  & td:last-child {
    text-align: right;

    padding-right: 40px;
  }

  & td {
    padding: 12px 0;

    color: var(--color-text-primary);
  }

  & td:first-child,
  & th:first-child {
    border-bottom: 1px solid transparent;
  }

  &__head-space {
    min-width: 40px;
  }

  &__head-type {
    // width: 55px;
    min-width: 100px;
    position: relative;
  }

  &__head-time {
    // width: 90px;
    min-width: 130px;

    position: relative;
  }

  &__head-person {
    width: 130px;
  }

  &__head-calls {
    width: 330px;

    position: relative;
  }

  &__head-source {
    width: 215px;
  }

  &__head-score {
    width: 460px;
  }

  &__head-duration {
    width: 90px;
  }

  &__cells-body {
    padding: 20px 16px;
  }

  &__item {
    // text-align: center;
    border-bottom: 1px solid var(--border-color-silver);
  }

  &__nameNumber {
    display: flex;
    flex-direction: column;
  }
}

table th {
  // padding: 26px 40px;
}

.iconRedDown {
  transform: rotate(-180deg);
}

/* Стили для скролла */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
