.button-detect {
  border: 1px solid var(--border-color-blue);
  border-radius: 4px;

  background-color: var(--bg-button-record);

  color: var(--color-text-blue);

  width: 122px;
  height: 40px;

  cursor: pointer;
}
