@import "../node_modules/modern-normalize/modern-normalize.css";

@font-face {
  font-family: "SF Pro Display Regular";
  src: local("SF Pro Display Regular"),
    url("../src/fonts/SFPRODISPLAYREGULAR.OTF") format("truetype");
  // src: local("SF Pro Display Regular"),
  //   url("../src/fonts/sf-pro-display_regular.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Display Medium";
  src: url("../src/fonts/SFPRODISPLAYMEDIUM.OTF") format("truetype");
}

@import "./variables/variables.scss";

body {
  background-color: var(--bg-page);

  font-family: "SF Pro Display Regular";
}
